@model IEnumerable<jQueryAjaxEFASPNetCore.Models.TransactionModel>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">
    <i class="fas fa-comment-dollar text-success"></i>
    Historique Des Transactions
</h1>


<div id="view-all">
    @await Html.PartialAsync("_ViewAll", Model)
</div>
